/* google fonts: roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* custom properties */
:root {
    --highlight: #1992d4;
    --accent: #f0b429;
    --base: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--base);
}

img {
    /* make icon turns white */
    filter: invert(100%);

    height: 1.3rem;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: auto 1fr / 1fr 4fr;
}

.header {
    background-color: white;
    padding: 1rem 2.4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}

.header img {
    filter: none;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

.search,
.profile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.search {
    flex: 1;
}

.search img {
    height: 1.6rem;
}

.search > label {
    cursor: pointer;
}

.search > input {
    width: 100%;
    height: 2rem;
    padding: .2rem 1rem;
    border: none;
    border-radius: 1.3rem;
    background-color: var(--base);
}

.profile {
    font-weight: bold;
}

.profile-photo,
.bottom-profile > img {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.profile > * {
    cursor: pointer;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

.bottom-profile,
.bottom-action {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold;
    font-size: .8rem;
}

.bottom-profile-name {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.bottom-profile-name > p:last-child {
    font-size: 1.3rem;
}

.bottom-profile > img {
    width: 3.8rem;
    height: 3.8rem;
}

.bottom-action > button {
    font-weight: bold;
    font-size: .9rem;
    color: white;
    background-color: var(--highlight);
    border-style: none;
    border-radius: 1.2rem;
    padding: .64rem 0;
    padding-bottom: .66rem;
    width: 5.6rem;
    cursor: pointer;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--highlight);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 20px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.4rem;
    cursor: pointer;
}

.logo > div {
    flex-basis: 42px;
}

.logo img {
    height: 2.6rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.menu > div > div {
    flex-basis: 42px;
    justify-self: flex-end;
}

.menu > div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
}

.main {
    padding: 1.6rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.main-content {
    flex: 1;
}

.main-content > p,
.announcements > p,
.trending > p {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
}

.projects img {
    filter: none;
}

.projects > div {
    background-color: white;
    border-radius: 6px;
    /* height: 11rem; */
    height: max(8ch, auto);
    border-left: .5rem solid var(--accent);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    padding: 1.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.projects-action {
    display: flex;
    justify-content: flex-end;
    gap: 1.6rem;
}

.projects-action > img {
    cursor: pointer;
}

.projects-text {
    font-size: .8rem;
    opacity: .67;
}

.projects-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: .2rem;
}